<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }
    </style>
  </head> 
  
  <header class="page-header">
  <div class="responsive">
  <div class="gallery">
    <img src=https://wallup.net/wp-content/uploads/2018/03/19/580744-Tsvetomil_Semkov-skull-bones-monochrome-dinosaurs-748x528.jpg alt="Smiley face" height="300" width="800">
    </div>
    </div>
  </header>

  <body>
  <link rel="stylesheet" href="/assets/stylesheets/style.css"/>
    <%# is this the right format for scss? %>
    <center>
    <%# how to use an image on html  %>
    <div>
    <h1>Exotic Dinosaur Adoption</h1>
      <p>The place for luxury pets.</p> 
      <%= button_to "Shelters", "/shelters" %>
      </center>
    </div>
  </body>
</html>





